.contenedor {
    width: 450px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 200px auto;
    display: grid;
    grid-template-rows: 60px auto 60px ;
    grid-template-columns: 450px;
  }
  
  .titulo {
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    font-weight: bold;
  }

  .formulario {
    grid-row: 2/3;
    padding: 0 16px;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-self: center;
  }

  .formulario input.ng-valid.ng-touched {
    border: 1px solid lightgreen;
    box-shadow: 2px 2px 3px rgba(144, 238, 144, 0.5)
  }
  
  .formulario input.ng-invalid.ng-touched {
    border: 1px solid red;
    box-shadow: 2px 2px 3px rgba(255, 0, 0, 0.5);
  }
  
  .error {
    text-align: center;
    font-size: small;
    color: red;
  }
  
  .login {
    grid-row: 3/4;
    padding: 5px;
    justify-self: center;
    align-self: center;
  }